body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
}
html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map svg circle {
    fill: #87898a;
    fill-opacity: 0.6;
    stroke: white;
    stroke-width: 1px;
    pointer-events: auto;
}

/* Updated header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Title on the left, everything else on the right */
    width: 100%;
    padding: 0.5em 0;
}

/* Make the slider longer */
#time-slider {
    width: 250px;
    appearance: none;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

#time-slider:hover {
    opacity: 1;
}

#selected-time, #any-time {
    min-width: 80px; /* Ensures both elements take up the same space */
    text-align: right; /* Aligns text to the right */
    display: block;
}

#any-time {
    color: gray;
    font-style: italic;
}